.no-padding { padding: 0 !important; }
.no-padding-right { padding-right: 0px !important; }
.no-padding-left { padding-left: 0px !important;}

.padding-10 { padding: 10px !important; }
.padding-20 { padding: 20px !important; }
.padding-30 { padding: 30px !important; }
.padding-40 { padding: 40px !important; }

.padding-top-10 { padding-top: 10px !important; }
.padding-top-20 { padding-top: 20px !important; }
.padding-top-40 { padding-top: 40px !important; }
.padding-top-50 { padding-top: 50px !important; }
.padding-top-80 { padding-top: 80px !important; }

.padding-bottom-10 { padding-bottom: 10px !important; }
.padding-bottom-20 { padding-bottom: 20px !important; }
.padding-bottom-40 { padding-bottom: 40px !important; }
.padding-bottom-50 { padding-bottom: 50px !important; }
.padding-bottom-55 { padding-bottom: 55px !important; }
.padding-bottom-100 { padding-bottom: 100px !important;}

.padding-left-0 { padding-left: 0px !important; }
.padding-left-10 { padding-left: 10px !important; }
.padding-left-20 { padding-left: 20px !important; }

.padding-right-0 { padding-right: 0px !important; }
.padding-right-20 { padding-right: 20px !important; }

.padding-bottom-0 { padding-bottom: 0px !important; }
.padding-top-0 {padding-top: 0px !important; }
