<div class="container margin-top-50">
  <div class="row margin-top-50 text-center">
    <div class="col-xs-12 col-md-12">
      <h1><%= @entity.name %></h1>
      <h3><%= @entity.type %></h3>
    </div>
  </div>
</div>