<table class="table table-responsive">
  <thead>
  <th class="text-center">Source</th>
  <th class="text-center">Target</th>
  <th class="text-center">Amount</th>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <p><%= transaction.source ? (link_to transaction.source.owner.name, entity_url(transaction.source.owner)) : "Nil" %></p>
        </td>
        <td>
          <p><%= transaction.target ? (link_to transaction.target.owner.name, entity_url(transaction.target.owner)) : "Nil" %></p>
        </td>
        <td>
          <p><%= transaction.amount %></p>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>