<table class="table table-responsive">
  <thead>
  <th class="text-center">Source</th>
  <th class="text-center">Target</th>
  <th class="text-center">Amount</th>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <% if transaction.source %>
            <p><%= transaction.source.owner ? (link_to transaction.source.owner.name, entity_url(transaction.source.owner)) : "(Removed)" %></p>
          <% else %>
            <p>Nil</p>
          <% end %>
        </td>
        <td>
          <% if transaction.target %>
            <p><%= transaction.target.owner ? (link_to transaction.target.owner.name, entity_url(transaction.target.owner)) : "(Removed)" %></p>
          <% else %>
            <p>Nil</p>
          <% end %>
        </td>
        <td>
          <p><%= transaction.amount %></p>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>