<div class="container margin-top-50">
  <div class="row margin-top-50 text-center">
    <div class="col-xs-12 col-md-12">
      <h1>Transactions</h1>
      <%= render 'transaction_form' %>
      <%= render 'transaction_table' %>
    </div>
  </div>
</div>